<header class="site-header">
  <button class="toggle_menu">
    <span class="sandwich">
      <span class="sw-topper"></span>
      <span class="sw-bottom"></span>
      <span class="sw-footer"></span>
    </span>
  </button>
  <nav class="top_menu">
    <ul>
      <li class="main-items"><a href="{{site.baseurl}}/">Главная</a></li>
      <li class="main-items"><a href="#">Видео</a></li>
      <li class="main-items"><a href="#">Фото</a></li>
      <li class="main-items"><a href="#">Информация</a></li>
      <li class="main-items"><a href="#">Контакты</a></li>
    </ul>
  </nav>
  <div class="header-content">
    <div class="logo">

    <img src="../assets/images/logo.png" alt="OutSideShop"/> </div>
 </div>
  </div>
  <meta name="verify-admitad" content="a5605773ed" />
</header>
